---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignEscapedNewlines: LeftWithLastLine
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
BreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeColon
ColumnLimit: 100
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentRequiresClause: true
IndentWidth: 2
NamespaceIndentation: None
PackConstructorInitializers: Never
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
ReferenceAlignment: Left
RequiresClausePosition: OwnLine
SpaceBeforeParens: ControlStatements
SeparateDefinitionBlocks: Leave
SortIncludes: true
Standard: Latest
# WhitespaceSensitiveMacros: [PASTE,PASTE2, ENUM_INNER_TYPE]
